In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('casas.csv')

In [19]:
colunas = ['tamanho','ano','garagem']

In [20]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [21]:
X = df[colunas]
y = df['preco']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=42)

In [24]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Testando o Modelo

In [25]:
X_test.head()

      tamanho   ano  garagem
892      99.0  1963        1
1105    244.0  1994        2
413      96.0  1927        2
522     155.0  1947        2
1036    151.0  2007        3

In [26]:
lr.predict([[100,1994,1]])[0]

143734.56858567498

## Serializando objetos

In [27]:
modelo

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
modelo.__dict__

{'fit_intercept': True,
 'normalize': False,
 'copy_X': True,
 'n_jobs': None,
 'coef_': array([  830.00653222,   762.09006126, 25767.20537933]),
 '_residues': 2004647158351.6067,
 'rank_': 3,
 'singular_': array([1588.85948328,  961.63101624,   17.89202414]),
 'intercept_': -1484640.8721676639}

In [29]:
import pickle

In [30]:
pickle.dump(modelo,open('modelo.sav','wb'))